<div class="todo-list">
    {{>task_list}}
    <div class="add-task">
        <form action="/task" method="POST">
            <input type="text" name="description" placeholder="New Task" autocomplete="off" required>
            <input type="submit" value="Add">
        </form>

    </div>
</div>
<div class="folders">
    <h2>Folders</h2>
    <div class="folder-list">
        <table>
            {{#each folders}}
            <tr data-id="{{id}}">
                <td>- {{name}}</td>
                <td>
                    <label class="view-folder">View Items</label>
                </td>
                <td><label class="remove-folder">Remove</label></td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div class="add-folder">
        <form action="/folder" method="post">
            <input type="text" name="name" placeholder="New Folder" autocomplete="off" required>
            <input type="submit" value="Add">
        </form>
    </div>
    <div id="hidden-list"></div>

</div>