<div class="login-cont">
    <h2>Login</h2>
    <form action="/auth" method="post">
        <input id="email" type="text" name="email" placeholder="Username">
        <input id="password" type="password" name="password" placeholder="Password">
        <input type="submit">
    </form>
</div>