<div class="login-cont">
    <h2>Login</h2>
    <form action="/auth" method="post">
        <input id="email" type="text" placeholder="Username" name="email">
        <input type="password" name="password" id="" placeholder="Password">
        <input type="submit">
    </form>
</div>