<!DOCTYPE html>
<html>

<head>
    <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/functions.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <meta charset="utf-8" />
    <meta name="language" content="es" />
    <meta name="rating" content="general" />
    <meta itemprop="url" content="" />
    <link rel="canonical" href="" />
    <title>{{title}}</title>
    <meta name="description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="" />
    <meta itemprop="author" content="Tomas Gimenez Rioja" />
</head>

<body>
    {{>header}}
    <div class="main-content">
        {{{body}}}
    </div>
    {{>footer}}
</body>

</html>