<!DOCTYPE html>
<html>
<header>
    <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/functions.js"></script>
    <title>{{title}}</title>
</header>

<body>
    {{!-- {{>header}} --}}
    <div class="main-content">
        {{{body}}}
    </div>
    {{!-- {{>footer}} --}}
</body>

</html>